*~
*.bak
.git/
.idea/

node_modules/

certs/*.pem
certs/*.crt
certs/*.key
logs/*.log

package-lock.json
ecosystem.config.js

access-token
config.json
pool_configs/*.json

dump.rdb

!pool_configs/*_example.json
!.gitkeep
